.chat {
    height: 100%;
    width: 30vw;
}

.chat-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-container {
    width: available;
    display: flex;
    justify-content: flex-start;
}

.message-container.self {
    width: available;
    display: flex;
    justify-content: flex-end;
}