.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-box {
    background-color: #e8f1f1;
    border-radius: 20px;
    width: 80vw;
    max-width: 800px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-content {
    height: 90%;
    width: 90%;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}

.chat-messages {
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
    list-style-type: none;
    overflow-y: scroll;
    width: 100%;
}

.message {
    background-color: rgba(210, 150, 61, 0.7);
    color: #734d1d;
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    max-width: 90%;
    margin-bottom: 5px;
    overflow-x: hidden;
}

.message-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    word-break: break-word;
    align-items: center;
}

.message.self {
    background-color: rgba(143, 167, 189, 0.81);
    color: rgba(54, 111, 152, 0.79);
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    width: 90%;
    margin-bottom: 5px;
    overflow-x: hidden;
}

.avatar {
    background-color: #c58a46;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.avatar.self {
    background-color: #6698c2;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.send-message {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.input-message {
    width: 70%;
    height: fit-content;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 17px;
    font-family: "Helvetica", sans-serif;
}

.send-button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.register {
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.name-input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 17px;
    font-family: "Helvetica", sans-serif;
}

.connect {
    width: 100px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
    height: 40px;
}


