.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-box {
    background-color: #e8f1f1;
    border-radius: 20px;
    width: 80vw;
    max-width: 800px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-content {
    height: 90%;
    width: 90%;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}

.chat-messages {
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
    list-style-type: none;
    overflow-y: scroll;
    width: 100%;
}

.message {
    background-color: #85c2a1;
    color: #517562;
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    max-width: 90%;
    margin-bottom: 5px;
    overflow-x: hidden;
}

.message-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    word-break: break-word;
    align-items: center;
}

.message.self {
    background-color: #8fbdbd;
    color: #255F85;
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    width: 90%;
    margin-bottom: 5px;
    overflow-x: hidden;
}

.avatar {
    background-color: #64af92;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.avatar.self {
    background-color: #70abb4;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.send-message {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.input-message {
    width: 70%;
    height: fit-content;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 17px;
    font-family: "Helvetica", sans-serif;
}

.send-button {
    width: 20%;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.register {
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.name-input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 17px;
    font-family: "Helvetica", sans-serif;
}

.connect {
    width: 100px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
    height: 40px;
}


