.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-box {
    background-color: rgba(110, 200, 248, 0.73);
    border-radius: 30px;
    border: rgba(193, 81, 253, 0.71) 7px solid;
    width: 30vw;
    max-width: 800px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-content {
    height: 100%;
    width: 90%;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 20px;

}

.chat-messages {
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
    list-style-type: none;
    overflow-y: scroll;
    width: 100%;
    padding-inline-start: 0;
}

.message {
    background-color: rgba(253, 62, 221, 0.58);
    color: #5e1d73;
    border-radius: 30px;
    height: fit-content;
    padding: 10px 0 10px 30px;
    width: 400px;
    max-width: 70%;
    margin-bottom: 5px;
    overflow-x: hidden;
}

.message-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    word-break: break-word;
    align-items: center;
}

.message.self {
    background-color: rgba(115, 63, 248, 0.67);
    color: rgba(56, 35, 117, 0.79);
    height: fit-content;
    margin-bottom: 5px;
    overflow-x: hidden;
}

.avatar {
    background-color: rgba(221, 168, 245, 0);
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    /*padding: 5px;*/
    margin-bottom: 10px;
    border-radius: 10px;
}

.avatar.self {
    /*background-color: #6698c2;*/
    width: fit-content;
    height: fit-content;
    /*padding: 5px;*/
    border-radius: 5px;
}

.send-message {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.input-message {
    width: 70%;
    height: fit-content;
    min-height: 30px;
    border-width: 5px;
    border-radius: 15px;
    border-color: #cf4df3;
    padding: 10px;
    font-size: 17px;
    font-family: "Helvetica", sans-serif;
}

.send-button {
    width: 90px;
    height: 60px;
    font-size: 30px;
    margin-left: 10px;
}

.register {
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.name-input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 17px;
    font-family: "Helvetica", sans-serif;
}

.connect {
    width: 100px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
    height: 40px;
}


