button {
    border-radius: 15px;
    width: fit-content;
    min-width: 150px;
    height: 60px;
}

.container {
   height: 100vh;
    /*display: flex;*/
}

.body-container {
    height: fit-content;
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    font-family: Arial, serif;
    font-weight: bold;
    color:  white;
    font-size: 22px;
}

.start-button {
    font-size: 35px;
    border-radius: 20px;
}