button {
    border-radius: 10px;
    font-size: 22px;
    width: 150px;
    height: 60px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    font-family:'Times New Roman', Times, serif;
    color:  #d5dada;
    font-size: 22px;
}