.user-board {
    width: fit-content;
    height: fit-content;
}

.turn {
    margin: 0;
}

.game {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.game-container {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-top: 20px;*/
}

.opponent-board {
    margin: 2vmin;
    display: grid;
    width: fit-content;
    height: fit-content;
    background-color: hsla(27, 55%, 62%, 0.8);
    grid-template-rows: repeat(10, 5vmin);
    grid-template-columns: repeat(10, 5vmin);
}

.opponent-board.unavailable {
    background-color: hsla(36, 17%, 57%, 0.79);

}

.opponent-board.unavailable div {
    border: 1px solid hsla(24, 3%, 37%, 0.53);
}

.opponent-board.unavailable div:hover {
    background-color: transparent;
}

.opponent-board div {
    border: 1px solid hsla(27, 37%, 35%, 0.53);
    display: flex;
    align-items: center;
    justify-content: center;
}

.opponent-board div:hover {
    background-color: hsla(27, 37%, 35%, 0.53);
}

.opponent-board div:active {
    background-color: hsla(27, 37%, 35%, 1);
}

.opponent-board div.missed {
    background-color: #214a62;
}

.opponent-board div.hit {
    background-color: rgba(180, 56, 16, 0.82);
    border-radius: 40px;
}

.user-board div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-board div.hit {
    background-color: blue;
}

.user-board div.missed {
    background-color: yellow;
}


.miss,
.boom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boom::after,
.miss::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
}

.miss::after {
    background-color: #bfddf3;
}

.boom::after {
    background-color: #c22727;
}

.miss::before {
    content: '';
    position: absolute;
    /*animation: hit .2s ease-out forwards;*/
    /*border: 1vmin solid white;*/
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
}

.boom {
    /*animation: boom .2s ease-out forwards;*/
}

@keyframes hit {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    100% {
        opacity: 0;
        transform: scale(4);
    }
}

@keyframes boom {
    0% {
        background-color: red;
    }

    100% {
        background-color: hsl(0, 0%, 80%);
    }
}

