.background {
    width: 100vw;
    height: 100vh;
    background-color: #255F85;
    position: fixed;
    top: 0;
    left: 0;
}

.background-image {
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.pages {
    z-index: 100000;
    opacity: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {

    color: #d5dada;
    font-family: 'Times New Roman', Times, serif;
    font-size: 7vw;
}

h3 {
    font-size: 40px;
}

button {
    background-color: #d5dada;
    color: #255F85;
    font-family:'Times New Roman', Times, serif;
    border-radius: 27px;
    border: none;
    font-size: 25px;
    min-height: 40px;

}

button:hover {
    background-color: #afb2b2;
    color: #1c4560;
}
