@font-face {
    font-family: Warmonger;
    src: url("../public/fonts/warmongerbb.ttf");
}

@font-face {
    font-family: Comic Bubble;
    src: url("../public/fonts/ComicBoomBubbleDemo-rg44y.ttf");
}

@font-face {
    font-family: Pixel Bubble;
    src: url("../public/fonts/pixel-bubble.TTF");
}

@font-face {
    font-family: Arcade;
    src: url("../public/fonts/ARCADECLASSIC.TTF");
}

.background {
    /*width: 100vw;*/
    height: 100vh;
    background-image: url("utils/images/ship-bg.gif");
    background-size: cover;
    /*background-color: #255F85;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
}

.audio {
    position: fixed;
    bottom: 0;
}

.mute-button {
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    background-color: transparent;
    color: #5e1d73;
}

.mute-button:hover{
    background-color: transparent;
}

.background-image {
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.pages {
    z-index: 100000;
    opacity: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    color: #CF4DF3FF;
    font-family: "Pixel Bubble", sans-serif;
    min-font-size: 40px;
    font-size: 5vw;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 40px;
    font-family: Arcade, serif;
    color: white;
}

h4 {
    font-size: 20px;
    color: white;
    font-family: Arcade, serif;
}

button {
    background-color: #80b4fc;
    color: #CF4DF3FF;
    font-family: Arcade, serif;
    border-radius: 27px;
    border-color: #cf4df3;
    border-width: 5px;
    font-size: 40px;
    min-height: 40px;
}

button:hover {
    background-color: #95c2f5;
    color: #d35bff;
}

button:active {
    background-color: #5d96d5;
    color: #c157e8;
}

a {
    color: white;
    font-size: 20px;
    font-family: Arial, serif;
}

a:hover {
    color: #cb87f1;
    cursor: pointer;
}

a:active {
    color: #a250ce
}
